.economixbody {
    background:lightblue;
}

.navigation-center{
    vertical-align:middle;
}
.navigation-height{
    height:52px;
}
#navcontainer {
    background:darkgreen;
    height:52px;
    top:0;
    width:100%;
    position:fixed;
}

ul.navigation  {

    margin:5,0,0,0;
    list-style-type:none;
    overflow:hidden;
}

ul.navigation  li{
    float:left;

}


ul.navigation li a{
    text-decoration:none;
    display:block;
    text-align:center;
    padding: 17px 16px;
    color:#DDDDDD;

}

ul.navigation li a:hover:not(.active){
    color:#000000;
    background-color:lightgreen;
}

ul.navigation a.active{
    background-color:#086ca9;
}

ul.navigation ul.right{
    float:right;
    list-style-type:none;
}

.message {
    position: absolute;
    left: 100px;
    top: 150px;
    width:800px;
    font-weight:bold;
    color:#c0c0c0;
    font-family: 'Brush Script MT', cursive;
    font-size: 35px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 23px;


}

.message2 {
    margin:10px;
    font-weight:bold;
    color:#000000;
    font-family: 'Brush Script MT', cursive;
    font-size: 35px;
    font-style: normal;
    font-variant: normal;
    font-weight: 500;
    line-height: 23px;


}
.navdropdown {
    position: relative;
    display:inline-block;
}

.navdropdown-content{
    display:none;
    position: absolute;
    backgroud-color: #f9f9f9;
    min-width:160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
}

.navdropdown:hover .navdropdown-content {
    display:block;
}